/* Put your css in here */

.chips {
  border: solid 1px grey;
  overflow: auto;
}

.chips .chip-title {
  color: rgba(0, 0, 0, 0.26) !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  
  margin: 16px 4px 0px 8px;
  float: left;
  display: block;
}

.chips .chip {
  background: #EEEEEE;
  
  cursor: pointer;
  
  border-radius: 16px;  
  margin: 8px 2px;
  padding: 0px;
  float: left;
  display: block;
}

.chips .chip .chip-text {
  color: rgba(0, 0, 0, 0.54);
  
  line-height: 16px;
  float: left;
  display: block;
  
  margin: 8px 0px 8px 16px;
}




a.chip-remove {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  border-radius: 16px;
  
  margin: 0px 0px 0px 8px;
  float: right;
  
  
  display: block;
}

a.chip-remove:hover {
  background-color: #F44336;
  color: white;
  font-size: 10px;
}

.chips input {
  line-height: 32px;
  font-size: 16px;
  padding: 8px;
  width: 120px;
  
  border: none;
  
  float: left;
  display: block;
  width: 120px;
}

.chips input:focus {
  outline: none;
}
