$core-color-red: #F44336;

$core-primary-text: black;

$core-color-divider: rgba(0, 0, 0, 0.12);
$core-color-hint-text: rgba(0, 0, 0, 0.26);
$core-color-disabled-text: rgba(0, 0, 0, 0.26);
$core-color-secondary-text: rgba(0, 0, 0, 0.54);
$core-color-text: rgba(0, 0, 0, 0.87);

$core-color-primary: $core-color-red;

.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label {
  @extend .no-select;
  cursor: default;
}

.chips {
  
  overflow: auto;
  
  .chip-title {
    
    @extend .label;
    
    color: $core-color-disabled-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    
    margin: 16px 4px 0px 8px;
    float: left;
    display: block;
  }
  
  .chip {
    background: #EEEEEE;
    
    cursor: pointer;
    
    border-radius: 16px;  
    margin: 8px 2px;
    padding: 0px;
    float: left;
    display: block;
  }
  
  .chip-text {
    @extend .label;
    
    color: $core-color-secondary-text;
    
    line-height: 16px;
    float: left;
    display: block;
    
    margin: 8px 16px 8px 16px;
	padding: 0px;
  }
}

.chip-remove {
  @extend .no-select;
  
  color: $core-color-secondary-text;
  
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
  
  width: 32px;
  line-height: 16px;
  height: 32px;
  text-align: center;
  border-radius: 16px;
  
  margin: 0px;
  padding: 8px;
  float: right;
  
  display: block;
  
  &:hover {
    background-color: $core-color-red;
    color: white;
    font-size: 10px;
    text-decoration: none;
  }
}


.chips input {
  line-height: 32px;
  font-size: 16px;
  padding: 8px;

  width: 120px !important;
  
  border: none;
  
  float: left;
  display: block;
  width: 120px;
  
  &:focus {
    outline: none;  
  }
}
